body{
  background:linear-gradient(90deg,rgb(207, 112, 128), rgb(125, 194, 125),rgb(211, 211, 60));
  
}


h1{
  text-align: center;
  text-shadow: 2px 2px lightseagreen;
}
.div1{
  border-style: solid;
  width: 300px;
  height: 70px;
  border-radius: 20px;
  text-align: center;
  background-color: lightblue;
  font-weight: bold;
  margin-left: 200px;
  margin-top: 50px;
  cursor: pointer;
}
.div2{
  border-style: solid;
  width: 300px;
  height: 70px;
  border-radius: 20px;
  text-align: center;
  background-color: lightblue;
  font-weight: bold;
  margin-left: 840px;
  margin-top: -76px;
  position: relative;
  cursor: pointer;
}

.box1{

  width: 400px;
  height: 160px;
  background-color:yellow;
  border-style: solid;
  margin-top: 60px;
  margin-left: 144px;
  padding-top: 45px;
   border-radius: 20px;
   position: absolute;
   text-align: center;
   font-weight: bold;
}

.para1{
  color: brown;
  font-style: italic;
}

.box2{

  width: 400px;
  height: 160px;
  background-color:yellowgreen;
  border-style: solid;
  margin-top: 80px;
  margin-left: -50px;
  margin-right: 60px;
  padding-top: 45px;
   border-radius: 20px;
   position: absolute;
   text-align: center;
   font-weight: bold;
   position: absolute;
}